<div class="container">
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Liste des réservations</h3></div>
      <div class="panel-body">
        
        <br>
        <!--div class="col-md-3">
          <form #f="ngForm" class="form-inline" (ngSubmit)="Rechercher(f.value)">
            <input class="form-control" type="search" ngModel name="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-info" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div-->
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nom lit</th>
            <th scope="col">Date</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Monitoring</th>
            <th scope="col">Oxygène</th>
            <th scope="col">Option</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let lit of lits$ | async">
            <th scope="row">{{lit.id}}</th>
            <td>{{lit.nom_lit}}</td>
            <td>{{lit.date_reservation}}</td>
            <td>{{lit.date_debut}}</td>
            <td>{{lit.date_debut}}</td>
            <td><i [class]="lit.monitoring?'fa fa-check text-success':'fa fa-close text-danger'"></i></td>
            <td><i [class]="lit.oxygene?'fa fa-check text-success':'fa fa-close text-danger'"></i></td>
            <td>
              <button (click)="EditReservation(lit)" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></button> |
              <button class="btn btn-danger btn-xs" (click)="DeleteReservation(lit)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>