<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading"><h3>Liste des utlisateurs</h3></div>
    <div class="panel-body">
      <div class="text-right">
        <button class="btn btn-primary" routerLink="/newuser"> <i class="fa fa-plus"></i> New user</button>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Etat</th>
          <th scope="col">Option</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users$ | async">
            <th scope="row">{{user.id}}</th>
            <td>{{user.prenom}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.telephone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td><i [class]="user.isActive?'fa fa-check text-success':'fa fa-close text-danger'"></i></td>
            <td>
              <button (click)="EditUser(user)" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></button> |
              <button class="btn btn-danger btn-xs" (click)="DeleteUser(user)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

