<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading"><h3>Liste des utlisateurs</h3></div>
    <div class="panel-body">
      <div class="text-right">
        <button class="btn btn-primary" routerLink="/newuser"> <i class="fa fa-plus"></i> New user</button>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Option</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>lit de soins intensifs</td>
          <td>lit de soins intensifs</td>
          <td><i class="fa fa-check text-success"></i></td>
          <td>
            <button class="btn btn-warning btn-xs" routerLink="/edituser"><i class="fa fa-pencil"></i></button> |
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mardfhfhk</td>
          <td>lit pédiatrique</td>
          <td>lit pédiatrique</td>
          <td><i class="fa fa-close text-danger"></i></td>
          <td>
            <button class="btn btn-warning btn-xs" routerLink="/edituser"><i class="fa fa-pencil"></i></button> |
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mark ghg</td>
          <td>lit plat en dortoir</td>
          <td>lit plat en dortoir</td>
          <td><i class="fa fa-check text-success"></i></td>
          <td>
            <button class="btn btn-warning btn-xs" routerLink="/edituser"><i class="fa fa-pencil"></i></button> |
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Marknn njiy</td>
          <td>Marknn njiy</td>
          <td>lit motorisé</td>
          <td><i class="fa fa-close text-danger"></i></td>
          <td>
            <button class="btn btn-warning btn-xs" routerLink="/edituser"><i class="fa fa-pencil"></i></button> |
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

