<div class="container text-center">
  <div class="brand_logo_container">
    <img  src="/assets/images/clinique.jpg" width="20%" class="rounded-circle" alt="Logo">
    <h1 class="text-danger">Pour une meilleure prise en charge</h1>
    <h2 class="text-info"><< Votre santé est notre raison d'être >></h2>
    <span class="text-primary"> <i class="fa fa-home"></i> Adresse : Almadie rue 45 x 23 Dakar - Sénégal</span><br>
    <span class="text-primary"> <i class="fa fa-phone"></i> Téléphone : 33 927 32 25</span><br>
    <span class="text-primary"> <i class="fa fa-envelope"></i> Email : einsarr@gmail.com</span><br>
    <span class="text-primary"> <i class="fa fa-fax"></i> Fax : 33 254 25 26</span>
  </div>
</div>
