<div class="container">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading"><h3>Nouveau profil</h3></div>
        <div class="panel-body">
          <form [formGroup]="formNewProfil" (ngSubmit)="saveProfil()">
            <div class="form-group">
              <label for="nom_profil">Nom du profil:</label>
              <input type="text" class="form-control" id="nom_profil" formControlName="nom_profil">
            </div>
  
            <div class="form-group">
              <label for="disponibilite">Disponibilité</label>
              <input type="checkbox"  class="form-check-input" formControlName="disponibilite"  id="disponibilite" name="disponibilite">
            </div>
  
            <div class="form-group">
              <button type="submit" [disabled]="!formNewProfil.valid" class="btn btn-primary btn-xs">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  