<div class="container">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Nouveau utlisateur</h3></div>
      <div class="panel-body">
        <form [formGroup]="formNewUser" (ngSubmit)="saveUser()">
          <div class="form-group">
            <label for="prenom">Prénom du user:</label>
            <input type="text" class="form-control" id="prenom" formControlName="prenom">
          </div>
          <div class="form-group">
            <label for="nom">Nom du user:</label>
            <input type="text" class="form-control" id="nom" formControlName="nom">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="telephone">Téléphone:</label>
            <input type="text" class="form-control" id="telephone" formControlName="telephone">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>

          <div class="form-group">
            <label for="profil">Profil</label>
            <select id="profil" formControlName="profil" class="form-select">
                <option selected="selected">--Choisir le profil--</option>
                <option *ngFor="let p of profils$ |async" [ngValue]="p">{{p.nom_profil}}</option>
            </select>
          </div>  

          <div class="form-group">
            <label for="isActive">Etat </label>
            <input type="checkbox" id="isActive" formControlName="isActive">
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="!formNewUser.valid" class="btn btn-primary btn-xs">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
