<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading"><h3>Liste des salles</h3></div>
    <div class="panel-body">
      <div class="text-right">
        <button class="btn btn-primary" routerLink="/newsalle"> <i class="fa fa-plus"></i> New salle</button>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Nom salle</th>
          <th scope="col">Service</th>
          <th scope="col">type de salle</th>
          <th scope="col">Disponibilité</th>
          <th scope="col">Option</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Hospitalisation en pédiatrie</td>
          <td>Hospitalisation en pédiatrie</td>
          <td><i class="fa fa-check text-success"></i></td>
          <td>
            <button class="btn btn-warning btn-xs" routerLink="/editsalle"><i class="fa fa-pencil"></i></button> |
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mardfhfhk</td>
          <td>Hospitalisation de jour</td>
          <td>Hospitalisation de jour</td>
          <td><i class="fa fa-close text-danger"></i></td>
          <td>
            <button class="btn btn-warning btn-xs" routerLink="/editsalle"><i class="fa fa-pencil"></i></button> |
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mark ghg</td>
          <td>Mark ghg</td>
          <td>Hospitalisation en soins intensifs</td>
          <td><i class="fa fa-check text-success"></i></td>
          <td>
            <button class="btn btn-warning btn-xs" routerLink="/editsalle"><i class="fa fa-pencil"></i></button> |
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Marknn njiy</td>
          <td>Marknn njiy</td>
          <td>Hospitalisation en traumatologie</td>
          <td><i class="fa fa-close text-danger"></i></td>
          <td>
            <button class="btn btn-warning btn-xs" routerLink="/editsalle"><i class="fa fa-pencil"></i></button> |
            <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

