<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading"><h3>Liste des salles</h3></div>
    <div class="panel-body">
      <div class="text-right">
        <button class="btn btn-primary" routerLink="/newsalle"> <i class="fa fa-plus"></i> New salle</button>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Nom salle</th>
          <th scope="col">Service</th>
          <th scope="col">type de salle</th>
          <th scope="col">Disponibilité</th>
          <th scope="col">Option</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let salle of salles$ | async">
            <th scope="row">{{salle.id}}</th>
            <td>{{salle.nom_salle}}</td>
            <td>{{salle.service}}</td>
            <td>{{salle.type_salle}}</td>
            <td><i [class]="salle.disponibilite?'fa fa-check text-success':'fa fa-close text-danger'"></i></td>
            <td>
              <button (click)="EditSalle(salle)" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></button> |
              <button class="btn btn-danger btn-xs" (click)="DeleteSalle(salle)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

